
$blue: blue;
$primary: #1989fa;
$success: #07c160;
$warning: #ff976a;
$danger: #ee0a24;

.blue {
    color: $blue;
}

.primary {
    color: #1989fa;
}
.success {
    color: $success;
}
.warning {
    color: $warning;
}
.danger {
    color: $danger;
}